alembic==0.7.6
Flask==2.3.2
Flask-Migrate==1.4.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
Flask-SSLify==0.1.5
future==0.18.3
fuzzywuzzy==0.7.0
gunicorn==19.5.0
itsdangerous==0.24
Jinja2==2.11.3
git+git://github.com/cloew/KaoCommand.git
git+git://github.com/cloew/KaoDecorators.git
git+git://github.com/cloew/proxy-attrs.git
git+git://github.com/cloew/KaoExtensions.git
git+git://github.com/cloew/KaoFactory.git
git+git://github.com/cloew/KaoFlask.git@v0.4.0
git+git://github.com/cloew/KaoFlaskAuth.git@v0.2.1
git+git://github.com/cloew/KaoFlaskSQLAlchemy.git@v0.1.3
git+git://github.com/cloew/KaoFlaskSSLify.git
git+git://github.com/cloew/KaoFn.git
git+git://github.com/cloew/KaoDict.git
git+git://github.com/cloew/KaoJson.git
git+git://github.com/cloew/KaoModules.git
git+git://github.com/cloew/LanguageEggs.git
Mako==1.2.2
MarkupSafe==0.23
psycopg2==2.9.1
PyJWT==2.4.0
git+git://github.com/cloew/SmartDefaults.git
SQLAlchemy==1.3.0
Werkzeug==3.0.1
wheel==0.38.1
cached-property==1.3.0
