alembic==0.7.6
Flask==0.10.1
Flask-Migrate==1.4.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
future==0.14.3
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.7.3
kao-decorators==0.1.2
kao-factory==0.1
kao-flask==0.1
kao-fn==0.0.1
kao-json==0.1
leggs==0.1
Mako==1.0.1
MarkupSafe==0.23
psycopg2==2.6
PyJWT==1.3.0
smart-defaults==0.0.1
SQLAlchemy==1.0.4
Werkzeug==0.10.4
wheel==0.24.0
