$header-height: 56px;

$word-list-heading-height: 41px;
$word-list-heading-padding: 5px;
$word-list-header-height: $word-list-heading-height - 2*$word-list-heading-padding - 1;

$primary-bg: #428bca;
$success-bg: #5cb85c;
$danger-bg: #d9534f;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.header-bar {
    height: $header-height;
    position: relative;
    margin-bottom: 10px;
}

.header-buttons {
    height: 34px;
    top:50%;
    margin-top: -17px;
}

.option {
    width: 100px;
    padding: 5px;
    margin: 5px;
}

.selected {
    @include border-radius(10px);
    background-color: $primary-bg;
}

.answer {
    @include border-radius(10px);
    background-color: $success-bg;
}

.word-list-panel-heading {
    height: $word-list-heading-height;
    padding-top: $word-list-heading-padding;
    padding-bottom: $word-list-heading-padding;
}

.word-list-header {
    display: table-cell;
    height: $word-list-header-height;
    vertical-align: middle;
}

.footer-with-button {
    height: 55px;
}

.question-progress {
    height: 17px;
}

.quiz-button {
    width: 100px;
}