<div class="panel panel-primary">
    <div class="panel-heading">
        <quiz-header></quiz-header>
    </div>
    <div class="panel-body">
        <quiz-results ng-if="quiz.completed"></quiz-results>
        <quiz-body ng-if="!quiz.completed"></quiz-body>
    </div>
    <div class="panel-footer footer-with-button">
        <quiz-back-button ng-if="quiz.completed"></quiz-back-button>
        <answer-button ng-if="!quiz.completed && !quiz.currentQuestion.results"></answer-button>
        <next-question-button ng-if="!quiz.completed && quiz.currentQuestion.results"></next-question-button>
    </div>
</div>