<div class="panel panel-primary">
    <div class="panel-heading word-list-panel-heading">
        <span class="pull-right">
            <span class="panel-title">Avg Mastery: {{conceptList.averageMastery}}</span>
            <a class="btn btn-primary btn-sm" ng-href="#{{quizUrl}}">Quiz Me!</a>
        </span>
        <div class="word-list-header">
            <h3 class="panel-title">{{conceptList.name}}</h3>
        </div>
    </div>
    <div class="panel-body">
        <concept-count concept-list="conceptList" header="header" is-words="isWords"></concept-count>
    </div>
</div>