<div>
    <div>
        <!--<alert type="successType" ng-if="question.results.correct">Correct</alert>
        <alert class="alert-danger" type="danger" ng-if="question.results && !question.results.correct">Wrong</alert>-->
        <h4 style="display:inline-block;">Translate {{question.questionWord.text}}</h4>
    </div>
    <div ng-repeat="option in question.options">
        <option option="option" 
                ng-class="{selected: $index===question.selectedIndex, answer: (question.results && question.answerIndex === $index)}"
                ng-click="selectOption($index);"></option>
    </div>
</div>