<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="pull-right question-progress">{{quiz.currentQuestionIndex+1}} of {{quiz.quiz.questions.length}}</span>
        <h3 class="panel-title">{{quiz.quiz.name}} Quiz</h3>
    </div>
    <div class="panel-body">
        <question question="quiz.currentQuestion" selectOption="selectOption"></question>
    </div>
    <div class="panel-footer question-footer" ng-if="!quiz.currentQuestion.results">
        <button class="pull-right btn btn-primary" on-enter-key="quiz.answer();" ng-click="quiz.answer();" ng-disabled="!(quiz.currentQuestion.selectedIndex >= 0)">Submit</button>
    </div>
    <div class="panel-footer question-footer" ng-if="quiz.currentQuestion.results">
        <span>
            <button class="pull-right btn btn-success" on-enter-key="quiz.next();" ng-click="quiz.next();">Next</button>
        </span>
    </div>
</div>