<div class="col-md-8 col-md-push-2" style="text-align:center;">
    <div class="col-md-12">
        <h1 class="col-md-8 col-md-push-2">Languages</h1>
        <button ng-click="goTo('/admin/languages/new');" class="btn btn-lg btn-primary pull-right">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="sr-only">New Language</span>
        </button>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            <tr ng-repeat="record in records">
                <td><a ng-href="#/admin/languages/{{record.id}}">{{record.name}}</a></td>
                <td style="text-align: center;">
                    <button ng-click="delete(record.id)" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        <span class="sr-only">Delete Language</span>
                    </button>
                </td>
            </tr>
        </table>
    <div>
</div>