<div class="col-md-8 col-md-push-2" style="text-align:center;">
    <div class="col-md-12">
        <h1 class="col-md-8 col-md-push-2">Languages</h1>
        <to-new-page class="pull-right" new-url="#/admin/languages/new"></to-new-page>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            <tr ng-repeat="record in records">
                <td><a ng-href="#/admin/languages/{{record.id}}">{{record.name}}</a></td>
                <td style="text-align: center;">
                    <delete-button delete-method="delete" id="record.id" data-type="Language" class="btn-sm"></delete-button>
                </td>
            </tr>
        </table>
    <div>
</div>