<div class="col-md-8 col-md-push-2" style="text-align:center;">
    <div class="col-md-12">
        <h1 class="col-md-8 col-md-push-2">Enroll in a Language</h1>
    </div>
    <div class="col-md-6 col-md-push-3" style="text-align: left;">
        <div ng-repeat="language in languages" style="marign: 10px; height: 70px;">
            <span>{{language.name}}</span>
            <button ng-click="enroll(language);" class="btn btn-lg btn-primary pull-right">Enroll</button>
        </div>
    </div>
</div>