<div class="col-md-8 col-md-push-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{quiz.name}} Quiz</h3>
        </div>
        <div class="panel-body">
            <question question="quiz.question" selectOption="selectOption"></question>
        </div>
        <div class="panel-footer question-footer" ng-if="!questionResults">
            <button class="pull-right btn btn-primary" ng-click="answer();" ng-disabled="!(quiz.question.selectedIndex >= 0)">Submit</button>
        </div>
        <div class="panel-footer question-footer success-footer" ng-if="questionResults.correct">
            <span>
                <button class="pull-right btn btn-success">Next</button>
                <h4>{{questionResults.answer}} is correct!</h4>
            </span>
        </div>
        <div class="panel-footer question-footer danger-footer" ng-if="questionResults && !questionResults.correct">
            <span>
                <button class="pull-right btn btn-danger">Next</button>
                <h4>{{questionResults.guess}} was incorrect. The correct answer was {{questionResults.answer}}</h4>
            </span>
        </div>
    </div>
</div>