<table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th>Language</th>
        <th></th>
    </tr>
    <tr ng-repeat="record in records">
        <td><a ng-href="{{getRecordEditUrl(record)}}">{{record.givenName + " " + record.lastName}}</a></td>
        <td>{{record.nativeLanguage.name}}</td>
        <td style="text-align: center;">
            <delete-button delete-method="delete" id="record.id" data-type="{{dataType}}" class="btn-sm"></delete-button>
        </td>
    </tr>
</table>