<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/lib/spinner.css" type="text/css">
        <link rel="stylesheet" href="/static/stylesheets/vocab.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
        <script src="/static/lib/traceur-runtime.js"></script>
        <script src="/static/lib/autofocus.min.js"></script>
        <script src="/static/lib/kao_utils.js"></script>
        <script src="/static/lib/kao_nav.js"></script>
        <script src="/static/lib/kao_auth.js"></script>
        <script src="/static/lib/kao_input.js"></script>
        <script src="/static/lib/kao_table.js"></script>
        <script src="/static/lib/kao_loading.js"></script>
        <script src="/static/lib/kao-crud/kao_crud_api.js"></script>
        <script src="/static/lib/kao-crud/kao_crud_front_end.js"></script>
        <script src="/static/lib/kao-crud/kao_crud_record.js"></script>
        <script src="/static/lib/kao-crud/kao_crud_select.js"></script>
        <script src="/static/lib/kao-crud/kao_crud_buttons.js"></script>
        <script src="/static/lib/kao-crud/kao_crud_directives.js"></script>
        <script src="/static/lib/kao-crud/kao_crud_controllers.js"></script>
        <script src="/static/js/vocab_auth.js"></script>
        <script src="/static/js/vocab_auth_controllers.js"></script>
        <script src="/static/js/language.js"></script>
        <script src="/static/js/forms.js"></script>
        <script src="/static/js/vocab_rest.js"></script>
        <script src="/static/js/vocab_nav.js"></script>
        <script src="/static/js/quiz/question.js"></script>
        <script src="/static/js/quiz/quiz.js"></script>
        <script src="/static/js/words.js"></script>
        <script src="/static/js/concepts.js"></script>
        <script src="/static/js/header.js"></script>
        <script src="/static/js/app.js"></script>
    </head>
    <body ng-app="VocabTester" key-trap>
        <header-bar></header-bar>
        <div style="width: 100%; height: 100%;" ng-view></div>
    </body>
</html>